@charset "UTF-8";

#post p {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

#user h4 {
  width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
